set clipboard+=unnamed
set clipboard+=ideaput

let mapleader=" "

nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]a :action NextParameter<CR>
nnoremap [a :action PreviousParameter<CR>

nnoremap gi :action GotoImplementation<cr>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action FindUsages<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>= :action ReformatCode<cr>
nnoremap <leader>o :action OrganizeImports<cr>

nnoremap <leader>s :action GotoSymbol<cr>
nnoremap <leader>ff :action GotoFile<cr>